<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - walksploration</title>
    
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Scripts/InitializeMap.js")*@
    @Scripts.Render("~/Scripts/LatLonDisplay.js")
    @Scripts.Render("~/Scripts/TimeSlider.js")
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("walksploration", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Walksploration - a Genisys Application &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@*Including Src code for jquery*@
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
@*Including Src code for ajax/googleapis*@
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
@*Including Src Google API Key*@
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBfGAYRk9n_e_kfTXh3RDqvW4FLmT8W0D4&sensor=false"></script>

<script type="text/javascript">


    $(document).ready(function () {

        initializeMap();
        showValue(time);
        success(position)
    });


    // Initialize Global Variables
    var map;                                        // the actual map image to display
    var geocoder = new google.maps.Geocoder();      // the function that will take an address and return geocoordinates
    var position;                                   // creates the position variable
    var image = {                                   // Creates custom Map Pin Image and location relative to info window
        url: "/Images/sneakerMarker.png",
        anchor: new google.maps.Point(20, 15)
    };
    var marker;                                     // Initializes marker object


// Initalize Map with Geolocation

    function initializeMap() {

        map = new google.maps.Map(document.getElementById('map_canvas'), {
            center: { lat: 42.3347, lng: -83.0497 },
            zoom: 16
        });

        var infoWindow = new google.maps.InfoWindow({ map: map });

if (navigator.geolocation) {
        // "Hey Geolocation! Please go find the current position and set the current lat and lng to the lat and lng vars."
        navigator.geolocation.getCurrentPosition(function (position) {
            position = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };

            infoWindow.setPosition(position);
            infoWindow.setContent('Howdy, walker!');
            map.setCenter(position);
            
            // custom shoe marker
            marker = new google.maps.Marker({
                map: map,
                position: position,
                icon: image,
                animation: google.maps.Animation.DROP
            });
        },

        function () {
            handleLocationError(true, infoWindow, map.getCenter(), success());
        });
    }
    else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
    }
}


// Default location if Geolocation is not Available
function handleLocationError(browserHasGeolocation, infoWindow, position) {
    infoWindow.setPosition(position);
    infoWindow.setContent(browserHasGeolocation ?
                          'Howdy, Grand Circus!' :
                          'Error: Your browser doesn\'t support geolocation.');
    marker = new google.maps.Marker({
        map: map,
        position: position,
        icon: image,
        animation: google.maps.Animation.DROP
    });
}


// Optional Bounce animation for Map Pin
function toggleBounce() {
    if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
    } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
    }
}

    // Adds a listener for the click event to place pin at Start Location
    document.getElementById('submitWalk').addEventListener('click', function () {
        geocodeAddress(geocoder, map);
    });

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location,
                    icon: image
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

</script>




@*<script type="text/javascript">

    $(document).ready(function () {
        showValue(time);
        showValue(startLat);
        showValue(startLon);
    });

</script>*@
