<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - walksploration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")

    @Scripts.Render("~/Scripts/DirectionsRequest.js")
    @Scripts.Render("~/Scripts/LatLonDisplay.js")
    @Scripts.Render("~/Scripts/TimeSlider.js")
   

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Walksploration - a Genisys Application &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@*@*Including Src code for jquery*@
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
@*Including Src code for ajax/googleapis*@
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
@*Including Src Google API Key*@
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBfGAYRk9n_e_kfTXh3RDqvW4FLmT8W0D4&sensor=false"></script>

<script type="text/javascript">

    //$ signifies that it's JQuery
    // So when the document is ready, call the functions listed in the {Curly Braces}
    //$(document).ready(function () {
    //    initializeMap();
    //    geoFindMe();
    //});
    
    var image = {                                   // Creates custom Map Pin Image and location relative to info window
        url: "/Images/sneakerMarker.png",                   // url = the location in our file where the image is stored
        anchor: new google.maps.Point(20, 15)               // anchor = this point is relative to where the actual center is of the lat and lon
    };
    </script>
