@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body>

<h3 id="map" style="max-width: 1140px; height: 350px; border: 4px solid #5E5454" ;></h3>
    <div>
        <b>Time Available:</b> @ViewBag.time minutes<br />
</div>
    <div style="float:left; width:50%">
        <h2>Origin:</h2>
        <b>Latitude :</b><div id="originLatitude">@ViewBag.OriginLat</div>
        <b>Longitude :</b><div id="originLongitude">@ViewBag.OriginLon</div>
    </div>

    <div style="float:right; width:50%">
        <h2>Point of Interest:</h2>
        <b>Latitude :</b> <div id="pointLatitude"> @ViewBag.Latitude</div> <br />
        <b>Longitude :</b> <div id="pointLongitude"> @ViewBag.Longitude</div> <br />
        <a href="@ViewBag.PoIMapLink" target="_blank" alt="MAP LINK TO POINT OF INTEREST!">MAP LINK TO POINT OF INTEREST!</a>

</div>

</body>
<script type="text/javascript">
   var originLat = @ViewBag.OriginLat;
   var originLng = @ViewBag.OriginLon;
   var pointLat = @ViewBag.Latitude;
   var pointLng = @ViewBag.Longitude;

   $(document).ready(function () {
        initMap();
 });

</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"
        async defer></script>